
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    // Rules for collections
    match /users/{userId} {
      allow read, write: if isSignedIn() && request.auth.uid == userId;
      
      match /clients/{clientId} {
        allow read, write: if isSignedIn() && request.auth.uid == userId;
      }
      match /premios/{premioId} {
        allow read, write: if isSignedIn() && request.auth.uid == userId;
      }
      match /cobrancas/{cobrancaId} {
        allow read, write: if isSignedIn() && request.auth.uid == userId;
      }
      match /despesas/{despesaId} {
        allow read, write: if isSignedIn() && request.auth.uid == userId;
      }
      match /debt_transactions/{transactionId} {
        allow read, write: if isSignedIn() && request.auth.uid == userId;
      }
      match /rotas/{rotaId} {
        allow read, write: if isSignedIn() && request.auth.uid == userId;
      }
    }
  }
}
