
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    // Rules for collections
    match /clients/{clientId} {
      allow read, write: if isSignedIn();
    }

    match /premios/{premioId} {
      allow read, write: if isSignedIn();
    }

    match /cobrancas/{cobrancaId} {
      allow read, write: if isSignedIn();
    }

    match /despesas/{despesaId} {
      allow read, write: if isSignedIn();
    }

    match /debt_transactions/{transactionId} {
      allow read, write: if isSignedIn();
    }

    match /rotas/{rotaId} {
      allow read, write: if isSignedIn();
    }
  }
}
